$color_solid_red: rgba(1.00, 0.00, 0.00, 1.00);
$color_solid_green: rgba(0.00, 1.00, 0.00, 1.00);
$color_solid_blue: rgba(0.00, 0.00, 1.00, 1.00);
$color_solid_black: rgba(0.00, 0.00, 0.00, 1.00);
$color_solid_grey: rgba(0.50, 0.50, 0.50, 1.00);
$color_solid_white: rgba(1.00, 1.00, 1.00, 1.00);
$color_outline_red: rgba(1.00, 0.00, 0.00, 1.00);
$color_outline_green: rgba(1.00, 0.00, 0.00, 1.00);
$color_outline_blue: rgba(1.00, 0.00, 0.00, 1.00);
$color_outline_black: rgba(1.00, 0.00, 0.00, 1.00);
$color_outline_grey: rgba(1.00, 0.00, 0.00, 1.00);
$color_outline_white: rgba(1.00, 0.00, 0.00, 1.00);
